<div class="registration">
  <form class="'form">
    <div class="input-field">
      <label for="username">Username</label>
      <br>
      <input type="text" name="username" id="username">
    </div>
    <div class="input-field">
      <label for="email">Email</label>
      <br>
      <input type="email" name="email" id="email">
    </div>
    <div class="input-field">
      <label for="password">Password</label>
      <br>
      <input type="password" name="password" id="password">
    </div>
    <div class="input-field">
      <label for="confirm_password">Confirm Password</label>
      <br>
      <input type="password" name="confirm_password" id="confirm_password">
    </div>
    <button type="sumbit" (click)="register()">Register</button>
  </form>
</div>
